<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TicketPrime</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos">
                <span class="bi bi-calendar-event-fill" aria-hidden="true"></span> Eventos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="eventos/novo">
                <span class="bi bi-plus-circle-fill" aria-hidden="true"></span> Novo Evento
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cupons">
                <span class="bi bi-ticket-perforated-fill" aria-hidden="true"></span> Cupons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cupons/novo">
                <span class="bi bi-plus-circle-fill" aria-hidden="true"></span> Novo Cupom
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Usuários
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="usuarios/novo">
                <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Novo Usuário
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
